select, input {
    width: inherit;
}

.x-btn {
    margin-left: 1em;
    display: inline-block;
    width: 40px;
}

.plus-btn {
    margin-left: 1em;
}

.name-div {
    margin-top: 0.5em;
    font-size: 1.7em;
    display: inline-block;
    min-width: 150px;
}

select {
    min-width: 150px;
}

.name-input {
    display: inline-block;
}
