h2 {
  display: inline;
  margin-left: 1em;
}

.backbtn {
  margin-left: 2em;
}

.well {
  margin-top: 1em;
}

label {
  font-size: larger;
}

.deletebtn {
  width: auto;
}

td {
  padding: .5em .5em .5em 1em;
}
