h2 {
    display: inline;
    margin-left: 1em;
}

.backbtn {
    margin-left: 2em;
}

.well {
    margin-top: 1em;
}

.deletebtn {
    width: auto;
}

.empty-list {
  padding: 1em;
}

td {
    padding: .5em .5em .5em 1em;
}
