<button class="btn backbtn" (click)="goBack()">
  <img src="assets/icons/back.png" title="Go back" height="20">
  Back
</button>
<h2>{{person.name}}</h2>
<div class="container">
  <div class="row well" *ngFor="let e of person.events">
    <div class="col-md-5 col-sm-5">
      <label>{{e.month | number:'2.0'}}.{{e.day | number:'2.0'}}.</label>
    </div>
    <div class="col-md-5 col-sm-5" [ngSwitch]="e.eventType">
      <img *ngSwitchCase="EventTypeEnum.BIRTHDAY" src="assets/icons/birth.png" height="40" title="birthday">
      <img *ngSwitchCase="EventTypeEnum.NAMEDAY" src="assets/icons/name.png" height="40" title="nameday">
      <img *ngSwitchCase="EventTypeEnum.ANNIVERSARY" src="assets/icons/anni.png" height="40" title="anniversary">
    </div>
    <div class="con-md-2 col-sm-2">
      <button class="btn" (click)="deleteEvent(e.eventType)" [disabled]="settingMode">
        <img src="assets/icons/del.png" title="Delete event" height="20">
      </button>
    </div>
  </div>
  <button class="btn" (click)="goToHints()">
    Hints
    <img src="assets/icons/gift.png" title="Hints for gifts" height="20">
  </button>
  <button class="btn" (click)="onSettingMode()" [disabled]="settingMode">
    <img src="assets/icons/setting.png" title="Setting event" height="20">
  </button>
</div>
<person-settings *ngIf="settingMode" [person]="person" (save)="onSave($event)"></person-settings>
