<div id="snackbar">New event is saved</div>
<h2>Event list</h2>
<div class="container well">
  <table class="table table-striped events">
    <thead>
    <tr>
      <th (click)="order(1)">Date</th>
      <th (click)="order(2)">Name</th>
      <th class="eventCol" (click)="order(3)">Event</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of eventList">
      <td>{{e.month | number:'2.0'}}.{{e.day | number:'2.0'}}.</td>
      <td>{{e.name}}</td>
      <td class="eventCol">
        <img *ngIf="e.eventType===EventTypeEnum.BIRTHDAY" src="assets/icons/birth.png" height="40" title="birthday">
        <img *ngIf="e.eventType===EventTypeEnum.NAMEDAY" src="assets/icons/name.png" height="40" title="nameday">
        <img *ngIf="e.eventType===EventTypeEnum.ANNIVERSARY" src="assets/icons/anni.png" height="40" title="anniversary">
      </td>
      <td class="lastCol">
        <button class="btn" (click)="goToHints(e)">
          Hints
          <img src="assets/icons/gift.png" title="Hints for gifts" height="20">
        </button>
        <button class="btn"  (click)="deleteEvent(e)">
          <img src="assets/icons/del.png" title="Delete event" height="20">
        </button>
        <button class="btn" (click)="goToEvent(e)">
          <img src="assets/icons/setting.png" title="Setting person's events" height="20">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


