<button class="btn backbtn" (click)="goBack()">
  <img src="assets/icons/back.png" title="Go back" height="20">
  Back
</button>
<h2>Hints of gifts for {{name}}</h2>
<div class="container well" *ngIf="gifts !== null && !rightpwd">
  <h3>Password is needed to access to this list</h3>
  <label>Password: </label>
  <input type="password" [(ngModel)]="pwd">
  <label [hidden]="!wrongpwd" class="alert-danger">
    Wrong password!
  </label>
  <div>
    <button class="btn" (click)="login()">Login</button>
  </div>
</div>
<div class="container well" *ngIf="!logged && gifts === null">
  <h3>You have to be logged in as an ADMIN to create new list!</h3>
</div>



<div class="container" *ngIf="rightpwd">
  <table class="well">
      <label *ngIf="gifts==null">No elements...</label>
      <tr class="row" *ngFor="let g of gifts, let i=index">
        <td><label>{{i+1}}</label></td>
        <td><input type="checkbox" [(ngModel)]="g.done"></td>
        <td><label>{{g.gift}}</label></td>
        <td><button class="btn col-md-1 deletebtn" (click)="deleteGift(g)">x</button></td>
      </tr>
  </table>
  <div class="well">
    <div>
      <input [(ngModel)]="newGift" placeholder="Type new gift hint">
      <button class="btn btn-success" (click)="saveNewGift()" [disabled]="newGift == ''">Save</button>
    </div>
  </div>
</div>
