.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

a { cursor: pointer; }

.nav-link {
    font-size: large;
}

.pwdGroup {
    position: absolute;
    right: 10px;
    margin-top: 5px;
    padding: .2em;
    border-radius: 2pt;
    background-color: #dddddd;
}

input, .logged {
    margin-left: .2em;
    margin-top: .5em;
}

.wrong {
    border-color: #ce1218;
    border-radius: 2pt;
}
