
h2 {
  margin: 1em 0 1.2em;
}

* {
  font-family : "Candara";
}

label {
  font-weight: bold;
  font-size: larger;
}

.pwd {
  top: .5em;
}

.inner-content {
  margin: 2em 5em;
}

th, td {
  font-size: 16pt;
}

table .lastCol {
  text-align: right;
}

.month, .day {
  width: 80px;
  display: inline;
}
