.settedDate {
    font-size: 18px;
    display: inline;
}

.settedDate {
    width: inherit;
}

.settedName {
    margin: 1em 2em 1.2em 0;
    padding-left: 0.5em;
    font-size: 25px;
}

input {
    width: 50%;
}
