label, input {
  margin: .3em 2em;
}

.btn {
  margin: .5em 1em;
}

/*#snackbar {
  visibility: hidden;
  font-size: larger;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0 16px;
  position: absolute;
  left: 50%;
  margin-left: -140px;
  z-index: 1;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: .8;}
}

@keyframes fadeout {
  from {top: 30px; opacity: .8;}
  to {top: 0; opacity: 0;}
}*/

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: .8;}
}

@keyframes fadeout {
  from {top: 30px; opacity: .8;}
  to {top: 0; opacity: 0;}
}
